body {
  background: #ccc;
  color: #fff;
}
#picture {
  background-image: url('../images/feedback.png');
  width: 92px;
  height: 90px;
  transform: rotate(45deg);
  box-shadow: 1px 1px 0 rgba(0,0,0, .25)
}
#aaaa {
  background: yellow;
  font-size: 30px;
}